<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能-海外金融一站通" />
    <meta name="keywords" content="次第,次第人工,次第人工智能,人工智能,海外金融" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>次第人工智能-海外金融一站通</title>
  </head>
  <body>
    <section class="min-screen">
      <div class="content product-service-warp">
        <%= require('../template/header/index.ejs')() %>
        <div class="main product-type">
          <ul class="product-list clearfix">
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_idefend_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">iDefend</p>
                <p class="product-list-txt">数据智能决策平台</p>
              </div>
            </li>
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_icredit_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">iCredit</p>
                <p class="product-list-txt">信贷业务系统</p>
              </div>
            </li>
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_gorupee_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">GoRupee</p>
                <p class="product-list-txt">金融开放平台</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="icredit" id="iCredit">
          <div class="main icredit-content clearfix">
            <div class="icredit-image">
              <img src="<%= require('../../images/icredit_image.png') %>" />
            </div>
            <div class="icredit-text">
              <div class="product-name"><i class="product-icon icredit-icon"></i>iCredit | 信贷业务系统</div>
              <div class="product-introduce">
                <p>
                  “iCredit”是面向海外金融市场的专业信贷业务系统，面向有一定规模的金融合作机构，提供个性化的系统解决方案。
                </p>
                <div class="product-introduce-item">
                  <h3>特点</h3>
                  <ul>
                    <li>· 针对目的国本地化的业务流程设定，业务贴合度高；</li>
                    <li>· 可根据自身模式和风控设定调配贷前流程，用户转化率高；</li>
                    <li>· 小额短期、大额多期，额度期限利率随意搭配，系统灵活度高；</li>
                  </ul>
                </div>
                <div class="product-introduce-item">
                  <h3>部署方式</h3>
                  <p>
                    业务系统私有化部署，支持主流信贷业务系统功能，安卓、IOS系统前端APP（源码版/无源码版）。
                    提供规则引擎及星网模型，可分渠道定制，每周迭代优化，
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="iDefend" id="iDefend">
          <div class="main iDefend-content clearfix">
            <div class="iDefend-left">
              <div class="product-name">
                <i class="product-icon iDefend-icon"></i>iDefend | 大数据输出和智能决策平台
              </div>
              <div class="product-introduce ">
                <p class="iDefend-text">
                  “iDefend”是通用、独立、专业的反欺诈及大数据风控决策AutoML平台。通过海量专业数据和高效的特征工程，建立面向企业的AI数据仓库，高度自动化的AI中台，具有丰富的工业化模组，深度服务于金融、信贷、支付、电商等行业。
                </p>
                <div class="idefend-img idefend-left-img">
                  <img src="<%= require('../../images/idefend_left.png') %>" />
                </div>
              </div>
            </div>
            <div class="iDefend-right">
              <div class="idefend-img idefend-right-img">
                <img src="<%= require('../../images/idefend_right.png') %>" />
              </div>
              <div class="product-introduce iDefend-introduce">
                <div class="product-introduce-item ">
                  <h3>特点</h3>
                  <ul>
                    <li>· API秒级调用，细分设备、用户、事件场景、星网等不同数据报告产品；</li>
                    <li>· 贯穿事前、事中、事后、全业务生命周期，形成；</li>
                  </ul>
                </div>
                <div class="product-introduce-item">
                  <h3>部署方式</h3>
                  <ul>
                    <li>· 私有云：敏感数据本地保存与自有系统深度融合。</li>
                    <li>· 公有云：快速获得、低成本试错、企业级安全、免运维。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gorupee" id="GoRupee">
          <div class="main gorupee-content clearfix">
            <div class="gorupee-text">
              <div class="product-name"><i class="product-icon gorupee-icon"></i>GoRupee | 金融开放平台</div>
              <div class="product-introduce">
                <p>
                  “GoRupee”是面向海外金融市场的一体化服务平台，系统、风控、催收、信审、牌照、流量、支付，一站式解决。
                </p>
                <div class="product-introduce-item">
                  <h3>特点</h3>
                  <ul>
                    <li>· SaaS商户端或API商户端系统（可选）；</li>
                    <li>· 主流支付渠道、牌照对接，签约、配置后即可上线；</li>
                    <li>· 个性化风控配置,秒级机审</li>
                    <li>· 机审，人审，混合审随意切换</li>
                  </ul>
                </div>
                <div class="product-introduce-item">
                  <h3>部署方式</h3>
                  <p>
                    SaaS服务，快速落地、低成本试错、企业级安全、免运维、7*24小时专业服务。
                  </p>
                </div>
              </div>
            </div>
            <div class="gorupee-image">
              <img src="<%= require('../../images/gorupee_image.png') %>" />
            </div>
          </div>
        </div>
        <%= require('../template/footer/index.ejs')() %>
      </div>
    </section>
  </body>
</html>
