<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能-海外金融一站通" />
    <meta name="keywords" content="次第,次第人工,次第人工智能,人工智能,海外金融" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>次第人工智能-海外金融一站通</title>
  </head>
  <body>
    <section class="min-screen">
      <div class="content">
        <%= require('../template/header/index.ejs')() %>
        <div class="main product-type">
          <ul class="product-list clearfix">
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_idefend_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">iDefend</p>
                <p class="product-list-txt">数据智能决策平台</p>
              </div>
            </li>
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_icredit_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">iCredit</p>
                <p class="product-list-txt">信贷业务系统</p>
              </div>
            </li>
            <li>
              <div class="product-list-logo"><img src="<%= require('../../images/product_gorupee_logo.png') %>" /></div>
              <div class="product-list-content">
                <p class="product-list-name">GoRupee</p>
                <p class="product-list-txt">金融开放平台</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="icredit">
          <div class="main icredit-content clearfix">
            <div class="icredit-image"></div>
            <div class="icredit-text">
              <div class="product-name"><i class="product-icon icredit-icon"></i>iCredit | 信贷业务系统</div>
            </div>
          </div>
        </div>
        <%= require('../template/footer/index.ejs')() %>
      </div>
    </section>
  </body>
</html>
