<header>
  <nav class="nav">
    <div class="main nav-cont clearfix">
      <div class="nav-logo fl">
        <a href="#">
          <img src="<%= require('../../../images/logo.png') %>" />
          <span class="logo-txt">海外金融一站通</span>
        </a>
      </div>
      <ul class="nav-menu fr">
        <li>
          <a href="#">首页</a>
        </li>
        <li>
          <a href="#">产品服务</a>
        </li>
        <li>
          <a href="#">关于次第</a>
        </li>
        <li>
          <a href="#">联系我们</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="swiper-container">
    <div class="banner swiper-wrapper">
      <div class="banner-item swiper-slide">
        <img src="<%= require('../../../images/banner_1.png') %>" />
        <div class="main banner-content">
          <div class="banner-01">
            <h2 class="banner-title">
              金融科技出海的先驱者和领导者
            </h2>
            <hr class="line" />
            <ul class="banner-introduce">
              <li>· 完整的信贷业务、机器决策平台系统及风控模型服务输出</li>
              <li>· 海量的反欺诈数据及信用数据调用服务平台</li>
              <li>· 海外金融业务落地咨询及其全面支持</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="banner-item swiper-slide">
        <img src="<%= require('../../../images/banner_2.png') %>" />
      </div>
      <div class="banner-item swiper-slide">
        <img src="<%= require('../../../images/banner_3.png') %>" />
      </div>
      <div class="banner-item swiper-slide">
        <img src="<%= require('../../../images/banner_4.png') %>" />
      </div>
    </div>
    <div class="swiper-pagination clearfix"></div>
  </div>
</header>
